aiogram==2.25.2  # Async Telegram Bot API wrapper
httpx==0.24.1  # HTTP requests
python-dotenv==0.21.1  # .env file loader
pyyaml==6.0.1  # YAML file parser
addict==2.4.0  # better dicts (accessible through dot notation)
watchdog==2.1.5  # watch directories for file changes
emoji==1.4.2  # replace aliases with emojis (!! 2.11.0 breaking, keeping 1.4.2)
pydantic==1.10.15  # dataclasses (!! below v2)
cachetools==5.3.3  # cache
cryptography==42.0.5  # encryption of persisted data
loguru==0.5.3  # logging (!! 0.7.2 breaking, keeping 0.5.3)
aiocouch==3.0.0  # couchdb persistence
